.content-subtitle {
  font-size: 24px;
  line-height: 1.45;
  max-width: 640px;
  text-align: center;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .content-subtitle {
    font-size: 16px;
    line-height: 1.43;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
  }
}
