.place__url-heading {
  font-size: 12px;
  line-height: 1.7;
  color: #aaa;
  letter-spacing: 2px;
  margin: 0 0 5px;
  font-weight: normal;
  text-transform: uppercase;
}
@media screen and (max-width: 1023px) {
  .place__url-heading {
    line-height: 1;
    margin: 0 0 12px;
  }
}
@media screen and (max-width: 380px) {
  .place__url-heading {
    margin: 0 16px 12px;
  }
}
